{%- comment -%}
  @Params
  show_border
  show_excert
  show_tags
  tag_style
  show_author
  show_date
  show_read_time
  show_comment_count,
  button_label
  button_type
  image_style
  show_topic
{%- endcomment -%}

<div class="featured-article blog-card article card show-border-{{ show_border }}">

  {% if article.image != blank %}
    <div class="card-image blog-card__image">
      <figure class="image">
        <a class="blog-card__link" href="{{ article.url }}" title="{{ article.title | escape }}">
          {%
            render 'image-element',
            image: article.image,
            alt: article.image.alt,
            additional_classes: 'blog-card__image',
            image_style: image_style
          %}
        </a>
      </figure>
    </div>
  {% endif %}

  <div class="card-content blog-card__content">
    <div class="media">
      <div class="media-content">
        {% if article.metafields.meta_info.topic != blank %}
          <span class="blog-card__topic">{{article.metafields.meta_info.topic | upcase}}</span>
        {% endif %}
        <h3 class="title">
          <a class="featured-article--link" href="{{ article.url }}" title="{{ article.title | escape }}">{{ article.title }}</a>
        </h3>
      </div>
    </div>

    {% if article.excerpt != blank and show_excert %}
      {%- assign postexcerpt = article.excerpt | size -%}
      {% if postexcerpt > 150 %}
        {%- assign excerptlength = 'lg' -%}
      {% elsif postexcerpt <= 150 %}
        {%- assign excerptlength = 'sm' -%}
      {% endif %}
      <div class="excerpt excerpt-length-{{ excerptlength }} has-margin-bottom">
        {{ article.excerpt }}
        <span class="truncation-fade"></span>
      </div>
    {% endif %}

    <div class="meta-info is-small">
      {% if show_tags %}
        {% if article.tags.size > 0 %}
          <ul class="meta-tag-list tags">
          {% for tag in article.tags %}
            <li class="tag tag--{{ tag_style }}">
              <a href="{{ shop.url}}/blogs/{{ blog.handle }}/tagged/{{ tag | handleize }}" title="{{ blog.title | escape }} {{ 'blogs.general.tagged' | t }} {{ tag | escape }}">{{ tag }}
              </a>
            </li>
          {% endfor %}
          </ul>
        {% endif %}
      {% endif %}

      {% render 'meta-info-list',
              article: article,
              blog_author: show_author,
              blog_date: show_date,
              blog_read_time: show_read_time,
              blog_comment_count:  show_comment_count
      %}
    </div>
  </div>
{% if button_type != 'none' %}
  <div class="blog-card__read-more">
    {% render 'button',
            label: button_label,
            href: article.url,
            type: "link",
            style: button_type
    %}
  </div>
{% endif %}
</div>