{% comment %}
** Image with text **
{% endcomment %}

{% comment %} Content settings {% endcomment %}
{%- assign blocks = section.blocks -%}
{% comment %} End content settings {% endcomment %}

{% comment %} Section specific CSS {% endcomment %}
{% style %}
  #shopify-section-{{ section.id }} {
    padding-top: {{ section.settings.padding_top }}px;
    padding-bottom: {{ section.settings.padding_bottom }}px;
    {% if section.settings.width == 'wide' %}
      width: 100%;
    {% endif %}
  }
  {% render 'css-loop',
          css: section.settings.custom_css,
          id: section.id
  %}
{% endstyle %}

{% comment %} HTML markup {% endcomment %}
<section class="section
                {{ section.settings.css_class }}
                is-width-{{ section.settings.width }}
                {% if section.settings.show_gutter == false %}
                  has-no-side-gutter
                  has-background
                {% else %}
                  has-gutter-enabled
                {% endif %}
                {% if section.settings.width == 'wide' %}
                  equal-columns--outside-trim
                {% endif %}
                "
                {% if section.settings.animation != "none" %}
                  data-scroll-class="{{ section.settings.animation }}"
                {% endif %}>
  {% if section.settings.title != blank %}
    <h3 class="section__heading featured-heading featured-heading--{{section.settings.title_size}} is-text-align--{{section.settings.title_align}}" style="--section-heading-color: {{section.settings.title_color}}">{{section.settings.title}}</h3>
  {% endif %}
  <div class="featured-promos__wrapper">
    {% for block in section.blocks %}
      <div class="featured-promo-item">
        <div class="featured-promo__icon">
          {%- if block.settings.use_image_icon and block.settings.promo_icon_image != blank -%}
            {% render 'image-element', image: block.settings.promo_icon_image %}
          {%- elsif block.settings.use_svg_icon and block.settings.promo_icon_svg != blank -%}
            {{ block.settings.promo_icon_svg }}
          {%- endif -%}
        </div>
        <div class="featured-promo__content">{{block.settings.promo_content}}</div>
      </div>
    {% endfor %}
  </div>
</section>

{% schema %}
{
  "name": "Featured Promotions 1",
  "class": "featured-promotions-1",
  "settings": [
    {
      "type": "header",
      "content": "Layout"
    },
    {
      "type": "select",
      "id": "width",
      "label": "Width",
      "default": "standard",
      "options": [
        {
          "value": "standard",
          "label": "Standard"
        },
        {
          "value":"container",
          "label":"Container"
        },
        {
          "value": "wide",
          "label": "Wide"
        }
      ]
    },
    {
      "type": "checkbox",
      "id": "show_gutter",
      "label": "Show gutter",
      "default": true
    },
    {
      "type": "range",
      "id": "padding_top",
      "label": "Top spacing",
      "min": 0,
      "max": 80,
      "default": 0,
      "unit": "px"
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "label": "Bottom spacing",
      "default": 0,
      "min": 0,
      "max": 80,
      "unit": "px"
    },
    {
      "type": "select",
      "id": "animation",
      "label": "Animation",
      "default": "none",
      "options": [
        {
          "value": "none",
          "label": "None"
        },
        {
          "value": "fadeIn",
          "label": "Fade in"
        },
        {
          "value": "fadeInDown",
          "label": "Fade in down"
        },
        {
          "value": "fadeInLeft",
          "label": "Fade in left"
        },
        {
          "value": "fadeInRight",
          "label": "Fade in right"
        },
        {
          "value": "slideInLeft",
          "label": "Slide in left"
        },
        {
          "value": "slideInRight",
          "label": "Slide in right"
        },
        {
          "value": "zoomIn",
          "label": "Zoom in"
        }
      ]
    },
    {
      "type": "header",
      "content": "Section Title"
    },
    {
      "type": "text",
      "id": "title",
      "label": "Title"
    },
    {
      "type": "select",
      "id": "title_size",
      "label": "Title Size",
      "options": [
        {
          "value": "tiny",
          "label": "Tiny"
        },
        {
          "value":"small",
          "label":"Small"
        },
        {
          "value":"medium",
          "label":"Medium"
        },
        {
          "value":"large",
          "label":"Large"
        },
        {
          "value":"extra-large",
          "label":"Extra Large"
        }
      ],
      "default": "medium"
    },
    {
      "type": "color",
      "id": "title_color",
      "label": "Title Color",
      "default": "#000"
    },
    {
      "type": "select",
      "id": "title_align",
      "label": "Align Title",
      "options": [
        {
          "value": "left",
          "label": "Left"
        },
        {
          "value":"center",
          "label":"Center"
        },
        {
          "value":"right",
          "label":"Right"
        }
      ]
    },
    {
      "type": "header",
      "content": "Advanced",
      "info": "[Learn more](https://help.outofthesandbox.com/hc/en-us/articles/360022329373)"
    },
    {
      "type": "text",
      "id": "css_class",
      "label": "CSS Class"
    },
    {
      "type": "textarea",
      "id": "custom_css",
      "label": "Custom CSS"
    }
  ],
  "blocks": [
    {
      "name":"Feature Promotion",
      "type":"promotion",
      "settings":[
        {
          "type":"header",
          "content":"Promotion Icon"
        },
        {
          "type": "checkbox",
          "id": "use_image_icon",
          "label": "Use Image as Icon",
          "default": false
        },        
        {
          "type": "image_picker",
          "id": "promo_icon_image",
          "label": "Promo Icon Image"
        },
        {
          "type": "checkbox",
          "id": "use_svg_icon",
          "label": "Use SVG Icon",
          "default": true
        },
        {
          "type": "html",
          "id": "promo_icon_svg",
          "label": "Icon SVG"
        },
        {
          "type": "header",
          "content": "Promotion Content"
        },
        {
          "type":"textarea",
          "id":"promo_content",
          "label":"Promo Content"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Featured Promotions 1",
      "category": "Image with Text",
      "settings": {
          "padding_top": 10,
          "padding_bottom": 80
      },
      "blocks": [
        {
          "type": "promotion"
        },
        {
          "type": "promotion"
        },
        {
          "type": "promotion"
        },
        {
          "type": "promotion"
        }
      ]
    }
  ]
}
{% endschema %}
